<!-- In CSS an id is prefixed by #, a class is prefixed by ., and an element has no prefix at all. -->
<div class="header post_header">
    <h2 class="section-heading">{{ page.title }}</h2>
</div>

<section class="post_content_box center container">

    formspree.io
<form action="https://post.sysb.ai/hello@sysb.ai" method="POST">
  <label>
    Your Name:
    <input type="text" name="name">
  </label>
  <label>
    Your Email:
    <input type="email" name="_replyto">
  </label>
  <label>
    Message:
    <textarea name="message"></textarea>
  </label>
  <input type="submit" value="Send">
</form>

    <hr>
 formcarry.com
    
    <form action="https://post.sysb.ai/hello@sysb.ai" method="POST">
     <input type="email" name="email">
     <input type="submit" value="Send">
    </form>

    <hr>   
  formkeep.com
    
<form action=”https://post.sysb.ai/hello@sysb.ai” method=”POST”>
<input type=”email” placeholder=”Your Email”>
<button type=”Submit”>Submit</button>
</form>

</section>
